* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
}

/* --NAV BAR BEGIN-- */

nav {
    width: 100%;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1000000;
    background-color:rgb(255 237 213);
    border-color: #e5e7eb;
    position: fixed;
    border-bottom-width: 1.5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.entire_nav_container {
    display: flex; /* this line and the next two is like typing "flex justify-center items-center" */
    align-items: center;
    justify-content: space-between;
}


/* define the clickable button styling */
.buttons {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding-right: 1.5rem;
    text-decoration: none;
    color: inherit;
}

.buttons:hover {
    color: #6B7280;
}

.contact_us_button {
    background-color: #FBBF24;
    font-size: 1.125rem;  
    font-weight: 600;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.contact_us_button:hover {
    color: #6B7280;
}

.nav_img {
    width: 250px;
    margin-right: 10px;
}


#div_below_nav_filler {
    height: 100px;
}

/* Firefox: hamburger menu top right, click it. Click more tools, click responsive deign mode. have yourself a day. */
/* This media section right here is for all screen sizes between 361px and 800px. Anything below 361 gets the query below this one.
Anything above 800 gets our default config which should be fine.*/
@media screen and (max-width: 850px) { 
    /* notice how everyhting in this media query is all classes in the actual nav bar.
    also notice how only the things i change are in here. for example, in the contact_us_button, the only things that change are what you see in this
    media query. I didn't put the button color in here. Know why? Because it doesn't need to change based on size. The font size does tho. Same with padding.
    Hopefully I explained this well. if you're wondering where im getting pixel size (for query) from, its that firefox tool mentioned above. Lmk if you need help. */
    .nav_img {
        width: 100px;
    }
    .contact_us_button {
        font-size: 0.7rem;
        font-weight: 600;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        margin-right: 20px;
    }

    .buttons {
        font-size: 0.7rem;
        font-weight: 600;
        padding-right: 0.5rem;
    }

    nav {
        padding-left: 5px;
    }

    #div_below_nav_filler {
        height: 40px;
    }

}  

@media screen and (max-width: 480px) {
    .nav_img {
        width: 100px;
    }
    .contact_us_button {
        font-size: 0.7rem;
        font-weight: 600;
        padding: 4px;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        margin-right: 1px;
    }

    .buttons {
        font-size: 0.7rem;
        font-weight: 600;
        padding-right: 0.4rem;
    }

    nav {
        padding-left: 5px;
    }

    #div_below_nav_filler {
        height: 40px;
    }

    #entire_nav_container {
        justify-content: none;
    }

}

.background {
    background-image: linear-gradient(rgb(255 237 213), rgb(191 219 254));
}

.entire_footer_container {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

.menu__link {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    font-weight: 300;
    color: #6B7280;
  }
  
  .menu__link:hover {
    color: black;
  }

  .entire_footer_container p {
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    color: #6B7280;
  }

@media screen and (max-width: 480px) {
    .menu__link {
        font-size: 0.80rem;
    }

    .entire_footer_container p {
        font-size: 0.80rem;
    }

}

/* --FOOTER END-- */